<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Todo アプリ</title>
</head>
<body ng-app="todoControllers">
  <!--<div ng-controller="todoListController"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script src="app.js"></script>
	<script src="appCtrl.js"></script>

<!--  <uib-alert type="danger" close="tc.message=null" ng-show="tc.message">{{tc.message}}</uib-alert> -->
	<div class="container" ng-controller="todoListController as tc">
    <form ng-submit="createToDo()">
      <input type="text"
             required
             placeholder="ToDoを入力"
             ng-model="new_todo">
        <button type="submit">追加</button>
    </form>
<hr>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>内容</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
  <!-- <tr ng-repeat="todo in tc.list"> -->
    <tr class="todo-item" ng-repeat="todo in test2"
        ng-class="{editing: todo == editing}">
      <td>{{$index + 1}}</td>
      <td>
        <form name="todoForm" ng-submit="editToDo(todoForm)">
          <p ng-hide="todo == editing" ng-click="submitEditToDo(todo)">{{ todo.content }}</p>
          <span ng-if="todo == editing">
            <button type="submit">この内容で編集</button>
          </span>
          <input type="text" required ng-model="todo.content"
          ng-show="todo == editing" edit-select="todo == editing" ng-blur="doneEdit(todoForm)">
        </form>
      </td>
      <td ng-switch on="todo.status">
          <span ng-switch-when="done">やった</span>
          <span ng-switch-when="yet">まだ</span>
          <span ng-switch-default>エラー</span>
      </td>
      <td>
        <span ng-if="todo != editing">
          <button type="submit" ng-click="deleteToDo()">このToDoを削除</button>
        </span>
      </td>
    </tr>
    </tbody>
  </table> -
</div>
</body>
</html>
